.bg-body {
  background-color: var(--body-bg);
}

.bg-dark {
  background-image: linear-gradient(180deg,rgb(49, 20, 66) 0%, rgba(49, 20, 66, 0.58) 50%, rgba(49, 20, 66, 0) 100%)
}

.bg-glass {
  color: var(--light);
  backdrop-filter: blur(10px);
  background-image: radial-gradient(circle at bottom, rgba(49, 26, 75, .3), rgba(14, 7, 19, 0.50));
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #ffffff2e;
}

@media (prefers-color-scheme: light) {
  .bg-dark {
    background-color: rgb(49, 20, 66);
    background-image: none;
  }
}