@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-body);
  font-size: var(--spacer-base);
  line-height: var(--line-height);
  color: var(--body-colour);
  background-color: var(--body-bg);
}

a {
  color: var(--primary);
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
  text-decoration-color: var(--secondary);

  &:hover {
    text-decoration-color: hsl(from var(--secondary) h 60% l);
  }
}

p {
  margin-bottom: var(--spacer-1);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: var(--spacer-1);
  font-family: var(--font-heading);
  line-height: var(--heading-line-height);
}

h1,
.h1 {
  font-size: calc(var(--spacer-base) + 2rem);
}

h2,
.h2 {
  font-size: calc(var(--spacer-base) + 1.3rem);
}

h3,
.h3 {
  font-size: calc(var(--spacer-base) + .8rem);
}

h4,
.h4 {
  font-size: calc(var(--spacer-base) + .5rem);
}

h5,
.h5 {
  font-size: calc(var(--spacer-base) + .3rem);
}

h6,
.h6 {
  font-size: calc(var(--spacer-base) + .1rem);
}

pre {
  padding: var(--spacer-1);
  tab-size: 4;
}

code {
  font-family: var(--font-monospace);
  color: var(--code-colour);
  word-wrap: break-word;
}
