.button {
  display: inline-block;
  padding: var(--padding-y) var(--padding-x);
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  transition: background-color 250ms;


}

.button-primary {
  color: var(--dark);
  background-color: var(--primary);

  &:hover {
    background-color: hsl(from var(--primary) h s 20%);
  }
}

.button-secondary {
  color: var(--light);
  background-color: var(--secondary);

  &:hover {
    background-color: hsl(from var(--secondary) h s 40%);
  }
}

.button-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: var(--padding-y) var(--padding-x);
  color: var(--body-color);
  cursor: pointer;
  background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  filter: invert(1) grayscale(100%) brightness(100%);
  border: 0;
  border-radius: .4rem;
}
