.card {
  --card-border-color: #ffffff2e;

  color: var(--light);
  background-image: radial-gradient(circle at bottom, rgba(49, 26, 75, .3), rgba(14, 7, 19, .5));
  backdrop-filter: blur(10px);
  border-color: var(--card-border-color);
  border-style: solid;
  border-width: 0 1px;
  border-radius: var(--border-radius);
}

.card-title {
  padding: var(--spacer-1);
  margin: 0;
  border-bottom: 1px solid var(--card-border-color);
}

.card-body {
  padding: var(--spacer-1);
  margin: 0;
}

