.code {
  --code-colour-light: #292e33;
  --code-colour-dark: #a9bacb;
  --code-colour-alt-light: #585959;
  --code-colour-alt-dark: #b6babf;
  --code-toolbar-light: #f0f1f2;
  --code-toolbar-dark: #343c45;
  --code-body-light: #fcfcfc;
  --code-body-dark: #14171a;
  --code-comment-light: #747573;
  --code-comment-dark: #5c6773;
  --code-blue-light: #08c;
  --code-blue-dark: #46afe3;
  --code-blue-grey-light: #0072ab;
  --code-blue-grey-dark: #5e88b0;
  --code-pink-light: #b82ee5;
  --code-pink-dark: #ff7de9;
  --code-purple-light: #8f4aff;
  --code-purple-dark: #b98eff;
  --code-green-dark: #70bf53;
  --code-green-light: #2cbb0f;
  --code-light-blue: #6b89ff;
  --code-orange-dark: #d96629;
  --code-orange-light: #f13c00;
  margin-bottom: var(--spacer-2);

  & code {
    color: light-dark(var(--code-colour-light), var(--code-colour-dark));
  }
}

.code-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacer-1) var(--spacer-2);
  background-color: light-dark(var(--code-toolbar-light), var(--code-toolbar-dark));
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.code-language {
  font-weight: 700;
}

.code-body {
  padding: var(--spacer-1) var(--spacer-2);
  margin: 0;
  overflow-x: auto;
  font-family: "Fira code", "Courier New", Courier, monospace;
  background-color: light-dark(var(--code-body-light), var(--code-body-dark));
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);

  & pre {
    padding: 0;
  }
}

.code-comment,
.code-quote {
  font-style: italic;
  color: light-dark(var(--code-comment-light), var(--code-comment-dark));
}

.html-tag-text {
  color: light-dark(var(--code-colour-alt-light), var(--code-colour-alt-dark));
}

.html-tag-name {
  color: light-dark(var(--code-blue-light), var(--code-blue-dark));
}

.html-attr-name,
.code-doctag,
.code-keyword,
.code-formula {
  color: light-dark(var(--code-pink-light), var(--code-pink-dark));
}

.html-attr-value,
.code-string,
.code-regexp,
.code-addition,
.code-attribute,
.code-meta .code-string {
  color: light-dark(var(--code-purple-light), var(--code-purple-dark));
}


.code-section,
.code-name,
.code-selector-tag,
.code-deletion,
.code-subst {
  color: light-dark(var(--code-orange-light), var(--code-orange-dark));
}

.code-literal {
  color: light-dark(var(--code-blue-grey-light), var(--code-blue-grey-dark));
}

.code-string,
.code-regexp,
.code-addition,
.code-attribute,
.code-meta .code-string {
  color: light-dark(var(--code-green-light), var(--code-green-dark));
}

.code-attr,
.code-variable,
.code-template-variable,
.code-type,
.code-selector-class,
.code-selector-attr,
.code-selector-pseudo,
.code-number {
  color: light-dark(var(--code-orange-light), var(--code-orange-dark));
}

.code-symbol,
.code-bullet,
.code-link,
.code-meta,
.code-selector-id,
.code-title {
  color: light-dark(var(--code-blue-light), var(--code-blue-dark));
}

/* stylelint-disable */
.code-built_in,
.code-title.class_,
.code-class .code-title {
  color: light-dark(var(--code-orange-light), var(--code-orange-dark));
}
/* stylelint-enable */

.code-emphasis {
  font-style: italic;
}

.code-strong {
  font-weight: 700;
}

.code-link {
  text-decoration: underline;
}
