.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
}
