.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60dvh;
  min-height: 713px;
  max-height: 740px;
  border-bottom: 5px solid var(--secondary);
  overflow: hidden;

  & .button-primary {
    background-color: var(--green-light);
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-image: none;
}

.hero-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 600px;
  height: 100%;
  padding-top: var(--spacer-4);
  margin: 0 auto;
  align-items: center;
  gap: var(--spacer-2);
}

.hero-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacer-2);
  height: 50%;
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  color: var(--light);
  backdrop-filter: blur(10px);
  background-image: radial-gradient(circle at bottom, rgba(49, 26, 75, .3), rgba(14, 7, 19, 0.50));
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #ffffff2e;
}

.hero-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 0;
  color: light-dark(var(--dark), var(--light));
  font-size: 2.4rem;
}

.hero-subtitle {
  margin-top: 0;
  font-family: var(--font-body);
  font-size: var(--spacer-3);
  font-weight: 400;
}

.hero-border-bottom {
  position: absolute;
  top: 80%;
  z-index: 1;
  transform: translate(-50%, -57%);

  &.left {
    left: 29%;;
  }

  &.right {
    left: 67%;
  }
}

.hero-input {
  font-size: calc(var(--spacer-base) - .2rem);
}

.hero-buttons {
  display: grid;
}

@media screen and (min-width: 768px){
  .hero-title {
    font-size: calc(var(--spacer-base) + 2rem);
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
  }

  .hero-body {
    padding-left: var(--spacer-4);
    padding-right: var(--spacer-4);
  }

  .hero-input {
    font-size: var(--spacer-2);
  }
}

@media (prefers-color-scheme: dark) {
  .hero-bg-overlay {
    background-image: linear-gradient(180deg,rgb(49, 20, 66) 0%, rgba(49, 20, 66, 0.58) 50%, rgba(49, 20, 66, 0) 100%);
  }
}