.rays {
  --ray:
    repeating-linear-gradient(
      100deg,
      var(--secondary) 0%,
      var(--secondary) 7%,
      transparent 10%,
      transparent 12%,
      var(--secondary) 16%
    );

  --rainbow:
    repeating-linear-gradient(
      100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%
    );

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.rays-animated {
  background-image: var(--ray), var(--rainbow);
  filter: blur(10px) invert(100%);
  background-position: 50% 50%, 50% 50%;
  background-size: 300%, 200%;
  mask-image: radial-gradient(ellipse at 100% 0%, #000 40%, transparent 70%);

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    background-image: var(--ray), var(--rainbow);
    background-attachment: fixed;
    background-size: 200%, 100%;
    mix-blend-mode: difference;
    animation: smooth-bg 60s linear infinite;
  }
}

.rays-static {
  background-image: url("/images/static_rays-sm.avif");
  background-size: cover;
}

@media screen and (min-width: 420px) {
  .rays-static {
    background-image: url("/images/static_rays.avif");
  }
}

@keyframes smooth-bg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}
