.table {
  width: 100%;
  text-align: left;
  caption-side: bottom;
  border-collapse: collapse;
  border-color: var(--secondary);

  /* stylelint-disable-next-line selector-max-universal */
  & > :not(caption) > * > * {
    padding: .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .table {
    min-width: 960px;
  }
}

tbody,
td,
tfoot,
th,
thead,
tr {
  text-align: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
