.video-bg {
  background-image: radial-gradient(circle, rgb(38, 18, 97) 0%, rgb(32, 44, 90) 50%, rgb(14, 7, 19) 100%);
}

.video-player {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
  border-radius: var(--border-radius);
}

.video-title {
  text-shadow: 1px 1px 1px var(--dark);
}
