
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 65%;
}

.video-player {
  border: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
}

.video-title {
  text-shadow: 1px 1px 1px light-dark(var(--light), var(--dark));
}
