@import url("./_font.css");
@import url("./_variables.css");
@import url("./_base.css");
@import url("./_layout.css");
@import url("./_card.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('/images/static_rays.avif');
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}