<template id="coralite-code-html">
  <div class="code">
    <div class="code-toolbar">
      <span class="code-language">HTML</span>
      <button popovertarget="{{ popovertarget }}" type="button" class="button button-icon" onclick="navigator.clipboard.writeText(this.parentElement.parentElement.children[1].children[0].textContent)">
        Copy to clipboard
      </button>
      <div id="{{ popovertarget }}" popover>Code copied!</div>
    </div>
    <pre class="code-body"><code><slot></slot></code></pre>
  </div>
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  /**
   * @param {string} className
   * @param {Object} parent
   * @param {string} [data]
   */
  function createCodeNode (className, parent, data) {
    const node =  {
      type: 'tag',
      name: 'span',
      attribs: {
        class: 'code-token ' + className
      },
      children: [],
      parent
    }

    if (data) {
      node.children.push({
        type: 'text',
        data: data
      })
    }

    return node
  }

  /**
   * @param {Object} node
   * @param {Object} parent
   */
   function createCodeCommentNode (node, parent) {
    const comment = {
      type: 'tag',
      name: 'span',
      attribs: {
        class: 'code-token html-comment'
      },
      children: [],
      parent
    }

    comment.children.push(
      createCodeNode('html-comment', comment, '<!--'),
      createCodeNode('html-comment', comment, node.data),
      createCodeNode('html-comment', comment, '-->'),
      createCodeNode('', comment, '\n')
    )

    return comment
  }

  /**
   * @param {Object} node
   * @param {Object} parent
   * @param {Array<Object>} children
   * @param {string} whitespace 
   */
  function createCodeTagNode (node, parent, children, separator = { space: '' }) {
    const tag = {
      type: 'tag',
      name: 'span',
      attribs: {
        class: 'code-token html-tag'
      },
      children: [],
      parent
    }

    tag.children.push(
      createCodeNode('html-tag-text', tag, '<'),
      createCodeNode('html-tag-name', tag, node.name),
    )

    // add tag to code list
    children.push(tag)

    for (const name in node.attribs) {
      if (Object.prototype.hasOwnProperty.call(node.attribs, name)) {
        tag.children.push(
          {
            type: 'text',
            data: ' ',
            parent
          },
          createCodeNode('html-attr-name', tag, name),
          createCodeNode('html-attr-equals', tag, '='),
          createCodeNode('html-attr-text', tag, '"'),
          createCodeNode('html-attr-value', tag, node.attribs[name]),
          createCodeNode('html-attr-text', tag, '"')
        )
      }
    }

    // closing arrow bracket
    tag.children.push(
      createCodeNode('html-tag-text', tag, '>')
    )

    if (node.children) {
      const lastIndex = node.children.length - 1
      let removeSpace = false

      if (node.name !== 'html') {
        separator.space += '  '
      }

      for (let i = 0; i < node.children.length; i++) {
        const childNode = node.children[i];
        
        if (childNode.type === 'tag') {
          // add tag
          createCodeTagNode(childNode, parent, children, separator)
        } else if (childNode.type === 'comment') {
          // add comment
          children.push(
            createCodeCommentNode(childNode, parent)
          )
        } else if (childNode.type === 'text') {
          if (!childNode.data.trim()) {
            if (i === lastIndex) {
              separator.space = separator.space.substring(2)
              removeSpace = true
            }
            // remove extra whitespace from newline
            childNode.data = childNode.data.replaceAll(' ', '')
            childNode.data = childNode.data + separator.space
          }

          // add text
          children.push(childNode)
        }
      }

      if (!removeSpace) {
        separator.space = separator.space.substring(2)
      }
    }

    // closing tag
    children.push(
      createCodeNode('html-tag-text', tag, '</'),
      createCodeNode('html-tag-name', tag, node.name),
      createCodeNode('html-tag-text', tag, '>')
    )
  }

  export default defineComponent({
    tokens: {
      popovertarget () {
        return 'copy-' + Math.random().toString(16).substring(2)
      }
    },
    slots: {
      default (content) {
        const children = []

        let endIndex = content.length
        let startIndex = 0
        const firstNode = content[0]
        const lastNode = content[endIndex - 1]

        if (firstNode.type === 'text' && !firstNode.data.trim()) {
          // skip first new line
          startIndex = 1
        }

        if (lastNode.type === 'text' && !lastNode.data.trim()) {
          endIndex = content.length - 1
        }

        for (let i = startIndex; i < endIndex; i++) {
          const node = content[i]

          if (node.type === 'tag') {
            // add node
            createCodeTagNode(node, node.parent, children)
          } else if (node.type === 'comment') {
            // add comment
            children.push(
              createCodeCommentNode(node, node.parent)
            )
          } else if (node.type === 'text') {
            // remove whitespace
            if (!node.data.trim()) {
              node.data = node.data.replaceAll(' ', '')
            }
            
            children.push(node)
          }
        }

        return children
      }
    }
  })
</script>