<template id="coralite-posts">
  {{ posts }}
</template>

<script type="module">
  import { defineComponent } from 'coralite'
  import { aggregation } from 'coralite/plugins'

  export default defineComponent({
    tokens: {
      async posts () {
        return await aggregation({
          path: ['blog'],
          template: 'coralite-post',
          sort (a, b) {
            return new Date(b.meta_published_time) - new Date(a.meta_published_time)
          },
          limit: 15,
          pagination: {
            maxVisible: 3
          }
        })
      }
    }
  })
</script>