<template id="coralite-code">
  <div class="code">
    <div class="code-toolbar">
      <span class="code-language">{{ language }}</span>
      <button popovertarget="{{ popovertarget }}" type="button" class="button button-icon" onclick="navigator.clipboard.writeText(this.parentElement.parentElement.children[1].children[0].textContent)">
        Copy to clipboard
      </button>
      <div id="{{ popovertarget }}" popover>Code copied!</div>
    </div>
    <div class="code-body">
      <pre><code><slot></slot></code></pre>
    </div>
  </div>
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    tokens: {
      popovertarget () {
        return 'copy-' + Math.random().toString(16).substring(2)
      }
    },
    slots: {
      default (content) {
        let result = []
        let endIndex = content.length
        let startIndex = 0
        const firstNode = content[0]
        const lastNode = content[endIndex - 1]

        if (firstNode.type === 'text' && !firstNode.data.trim()) {
          // skip first new line
          startIndex = 1
        }

        if (lastNode.type === 'text' && !lastNode.data.trim()) {
          endIndex = content.length - 1
        }

        for (let i = startIndex; i < endIndex; i++) {
          result.push(content[i])
        }

        return result
      }
    }
  })
</script>