<template id="coralite-related-posts">
  <h3>Related posts</h3>
  {{ posts }}
  <p><a href="/blog">More blog posts</a></p>
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    async server (context) {
      const postItems = await context.aggregation.aggregate('related-posts', context)

      if (postItems) {
        return {
          posts: `<ul>${postItems}</ul>`
        }
      }

      return {
        posts: null
      }
    }
  })
</script>
