<template id="coralite-posts">
  {{ posts }}
</template>

<script type="module">
  import { defineComponent, aggregation } from 'coralite/plugins'

  export default defineComponent({
    properties (context) {
      return {
        posts: aggregation({
          path: ['blog'],
          template: 'coralite-post',
          sort (a, b) {
            return new Date(b.page.meta.published_time) - new Date(a.page.meta.published_time)
          },
          limit: 15,
          pagination: {
            maxVisible: 3
          }
        })
      }
    }
  })
</script>