<template id="coralite-meta">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ canonical }}">

  <!-- metadata -->
  <meta name="pageTitle" content="{{ title }}">
  <meta name="pageDescription" content="{{ description }}">
  <meta name="title" content="{{ metaSeoTitle }}">
  <meta name="description" content="{{ metaSeoDescription }}">

  <!-- OG metadata -->
  <meta property="og:type" content="{{ ogType }}">
  <meta property="og:title" content="{{ metaSeoTitle }}">
  <meta property="og:description" content="{{ metaSeoDescription }}">
  <meta property="og:image" content="https://coralite.dev/images/social.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <link rel="icon" href="/favicon.ico">

  <title>{{ title }} | Coralite</title>
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    attributes: {
      type: {
        type: String,
        default: 'website'
      },
      title: {
        type: String,
        default: 'Default Title'
      },
      description: {
        type: String,
        default: ''
      },
      seoTitle: { type: String },
      seoDescription: { type: String }
    },
    async data (context) {
      const pageUrlPathname = context.page.url.pathname
      const state = context.state
      const baseUrl = 'https://coralite.dev'
      const ogType = state.type
      const metaSeoTitle = state.seoTitle || state.title
      const metaSeoDescription = state.seoDescription || state.description

      let canonicalUrl = baseUrl
      if (pageUrlPathname === '/index.html') {
        canonicalUrl = baseUrl
      } else if (pageUrlPathname) {
        const nameSplit = pageUrlPathname.split('.html')
        canonicalUrl = baseUrl + nameSplit.slice(0, nameSplit.length - 1).join('')
      }

      return {
        ogType: ogType,
        metaSeoTitle: metaSeoTitle,
        metaSeoDescription: metaSeoDescription,
        canonical: canonicalUrl,
        title: state.title,
        description: state.description
      }
    }
  })
</script>
