<template id="coralite-related-post">
  <li>
    <a href="{{ pageUrlPathname }}">{{ pageTitle }}</a> - {{ localeDate }}
  </li>
</template>


<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    properties (context) {
      const url = context.page.url
      const meta = context.page.meta

      let formattedDate = 'N/A'
      if (meta.publishedTime) {
        try {
          formattedDate = new Date(meta.publishedTime).toLocaleDateString('en-AU', {
            year: '2-digit',
            month: 'short',
            day: 'numeric'
          })
        } catch (e) {
          console.error('Failed to format date:', e)
        }
      }

      return {
        pageTitle: context.properties.title || 'Untitled Post',
        pageUrlPathname: url.pathname,
        localeDate: formattedDate
      }
    }
  })
</script>