<template id="coralite-playground">
  <div class="playground">
    <details class="playground-tab" name="playground-tabs" open style="--n: 1">
      <summary>Components</summary>
      <div class="playground-content">
        <div class="playground-description">
          <p>Discover how to register and use Coralite components, including state management and imperative APIs. <a href="/docs/guide/components.html">Components Guide</a></p>
        </div>
        <div class="playground-editor">
          <div class="file-tree">
            <details open>
              <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> src</summary>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> pages</summary>
                <div class="file-item">
                  <input type="radio" name="tab1-files" id="tab1-file2" checked>
                  <label for="tab1-file2" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> index.html</label>
                </div>
              </details>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> components</summary>
                <div class="file-item">
                  <input type="radio" name="tab1-files" id="tab1-file3">
                  <label for="tab1-file3" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> hello-world.html</label>
                </div>
                <div class="file-item">
                  <input type="radio" name="tab1-files" id="tab1-file4">
                  <label for="tab1-file4" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> click-counter.html</label>
                </div>
                <div class="file-item">
                  <input type="radio" name="tab1-files" id="tab1-file5">
                  <label for="tab1-file5" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> toast-manager.html</label>
                </div>
                <div class="file-item">
                  <input type="radio" name="tab1-files" id="tab1-file6">
                  <label for="tab1-file6" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> toast-message.html</label>
                </div>
              </details>
            </details>
            <div class="file-item">
              <input type="radio" name="tab1-files" id="tab1-file1">
              <label for="tab1-file1" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> coralite.config.js</label>
            </div>
          </div>
          <div class="code-viewer code">
            <div class="file-content" id="tab1-content1"><pre><code>{{ tab1_file1 }}</code></pre></div>
            <div class="file-content" id="tab1-content2"><pre><code>{{ tab1_file2 }}</code></pre></div>
            <div class="file-content" id="tab1-content3"><pre><code>{{ tab1_file3 }}</code></pre></div>
            <div class="file-content" id="tab1-content4"><pre><code>{{ tab1_file4 }}</code></pre></div>
            <div class="file-content" id="tab1-content5"><pre><code>{{ tab1_file5 }}</code></pre></div>
            <div class="file-content" id="tab1-content6"><pre><code>{{ tab1_file6 }}</code></pre></div>
          </div>
        </div>
      </div>
    </details>

    <details class="playground-tab" name="playground-tabs" style="--n: 2">
      <summary>Server-Side Rendering</summary>
      <div class="playground-content">
        <div class="playground-description">
          <p>Perform fast server-side rendering and data fetching easily. <a href="/docs/guide/ssr.html">Server Rendering</a></p>
        </div>
        <div class="playground-editor">
          <div class="file-tree">
            <details open>
              <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> src</summary>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> pages</summary>
                <div class="file-item">
                  <input type="radio" name="tab2-files" id="tab2-file2" checked>
                  <label for="tab2-file2" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> blog.html</label>
                </div>
                <div class="file-item">
                  <input type="radio" name="tab2-files" id="tab2-file5">
                  <label for="tab2-file5" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> dashboard.html</label>
                </div>
              </details>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> components</summary>
                <div class="file-item">
                  <input type="radio" name="tab2-files" id="tab2-file3">
                  <label for="tab2-file3" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> user-profile.html</label>
                </div>
                <div class="file-item">
                  <input type="radio" name="tab2-files" id="tab2-file4">
                  <label for="tab2-file4" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> data-fetcher.html</label>
                </div>
              </details>
            </details>
            <div class="file-item">
              <input type="radio" name="tab2-files" id="tab2-file1">
              <label for="tab2-file1" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> coralite.config.js</label>
            </div>
          </div>
          <div class="code-viewer code">
            <div class="file-content" id="tab2-content1"><pre><code>{{ tab2_file1 }}</code></pre></div>
            <div class="file-content" id="tab2-content2"><pre><code>{{ tab2_file2 }}</code></pre></div>
            <div class="file-content" id="tab2-content3"><pre><code>{{ tab2_file3 }}</code></pre></div>
            <div class="file-content" id="tab2-content4"><pre><code>{{ tab2_file4 }}</code></pre></div>
            <div class="file-content" id="tab2-content5"><pre><code>{{ tab2_file5 }}</code></pre></div>
          </div>
        </div>
      </div>
    </details>

    <details class="playground-tab" name="playground-tabs" style="--n: 3">
      <summary>Metadata & Page Variables</summary>
      <div class="playground-content">
        <div class="playground-description">
          <p>Learn how to use built-in page variables and metadata extraction. <a href="/docs/guide/page-variables.html">Page Variables Guide</a></p>
        </div>
        <div class="playground-editor">
          <div class="file-tree">
            <details open>
              <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> src</summary>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> pages</summary>
                <div class="file-item">
                  <input type="radio" name="tab3-files" id="tab3-file2" checked>
                  <label for="tab3-file2" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> about.html</label>
                </div>
              </details>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> components</summary>
                <div class="file-item">
                  <input type="radio" name="tab3-files" id="tab3-file3">
                  <label for="tab3-file3" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> meta-info.html</label>
                </div>
              </details>
            </details>
            <div class="file-item">
              <input type="radio" name="tab3-files" id="tab3-file1">
              <label for="tab3-file1" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> coralite.config.js</label>
            </div>
          </div>
          <div class="code-viewer code">
            <div class="file-content" id="tab3-content1"><pre><code>{{ tab3_file1 }}</code></pre></div>
            <div class="file-content" id="tab3-content2"><pre><code>{{ tab3_file2 }}</code></pre></div>
            <div class="file-content" id="tab3-content3"><pre><code>{{ tab3_file3 }}</code></pre></div>
          </div>
        </div>
      </div>
    </details>

    <details class="playground-tab" name="playground-tabs" style="--n: 4">
      <summary>Plugins</summary>
      <div class="playground-content">
        <div class="playground-description">
          <p>Extend capabilities across your app by authoring and consuming plugins. <a href="/docs/guide/authoring-plugins.html">Plugins Guide</a></p>
        </div>
        <div class="playground-editor">
          <div class="file-tree">
            <details open>
              <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> src</summary>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> plugins</summary>
                <div class="file-item">
                  <input type="radio" name="tab4-files" id="tab4-file2">
                  <label for="tab4-file2" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> store.js</label>
                </div>
              </details>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> pages</summary>
                <div class="file-item">
                  <input type="radio" name="tab4-files" id="tab4-file3" checked>
                  <label for="tab4-file3" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> shop.html</label>
                </div>
              </details>
              <details open>
                <summary><svg class="icon icon-dir"><use href="/images/icons.svg#directory"></use></svg> components</summary>
                <div class="file-item">
                  <input type="radio" name="tab4-files" id="tab4-file4">
                  <label for="tab4-file4" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> cart-button.html</label>
                </div>
                <div class="file-item">
                  <input type="radio" name="tab4-files" id="tab4-file5">
                  <label for="tab4-file5" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> cart-total.html</label>
                </div>
              </details>
            </details>
            <div class="file-item">
              <input type="radio" name="tab4-files" id="tab4-file1">
              <label for="tab4-file1" class="file-label"><svg class="icon icon-file"><use href="/images/icons.svg#file"></use></svg> coralite.config.js</label>
            </div>
          </div>
          <div class="code-viewer code">
            <div class="file-content" id="tab4-content1"><pre><code>{{ tab4_file1 }}</code></pre></div>
            <div class="file-content" id="tab4-content2"><pre><code>{{ tab4_file2 }}</code></pre></div>
            <div class="file-content" id="tab4-content3"><pre><code>{{ tab4_file3 }}</code></pre></div>
            <div class="file-content" id="tab4-content4"><pre><code>{{ tab4_file4 }}</code></pre></div>
            <div class="file-content" id="tab4-content5"><pre><code>{{ tab4_file5 }}</code></pre></div>
          </div>
        </div>
      </div>
    </details>
  </div>
</template>

<script type="module">
  import { defineComponent } from 'coralite'
  import { parseHTML } from 'coralite/utils'
  import code from 'highlight.js'
  import { dedent } from '../utils/format.js'

  code.configure({
    classPrefix: 'code-'
  })

  const highlight = (str, lang) => {
    const highlighted = code.highlight(dedent(str).trim(), { language: lang }).value
    return parseHTML(highlighted).root.children
  }

  export default defineComponent({
    server: async () => {
      return {
        tab1_file1: highlight(`
          import { defineConfig } from 'coralite';

          /**
           * Project configuration.
           * Defines where your pages and components are located,
           * and where the final build should be placed.
           */
          export default defineConfig({
            output: 'dist',
            components: 'src/components',
            pages: 'src/pages'
          });
        `, 'javascript'),
        tab1_file2: highlight(`
          <!DOCTYPE html>
          <html>
          <head>
            <title>Coralite App</title>
          </head>
          <body>
            <!-- Main entry point for the application -->
            <h1>Welcome to Coralite</h1>

            <!-- Using a custom component with an attribute -->
            <hello-world name="Developer"></hello-world>
            
            <!-- Components can be interactive on the client -->
            <click-counter step="2"></click-counter>

            <!-- Imperative component instantiation example -->
            <toast-manager></toast-manager>
          </body>
          </html>
        `, 'html'),
        tab1_file3: highlight(`
          <template id="hello-world">
            <div class="greeting">
              <h2>Hello, {{ name }}!</h2>
            </div>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * A simple static component.
             * Attributes defined here are automatically available
             * in the template via double curly braces.
             */
            export default defineComponent({
              attributes: {
                name: { type: String, default: 'Developer' }
              }
            });
          <\/script>
        `, 'html'),
        tab1_file4: highlight(`
          <template id="click-counter">
            <button ref="btn">Count: {{ count }}</button>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * An interactive component.
             * The 'client' block runs only in the browser.
             * It has access to 'state' (reactive) and 'refs' (DOM elements).
             */
            export default defineComponent({
              attributes: {
                step: { type: Number, default: 1 }
              },
              client: ({ state, refs }) => {
                // Initialize component state
                state.count = 0;

                // Use 'refs' to get elements marked with 'ref' attribute
                refs('btn').addEventListener('click', () => {
                  // Updating state triggers automatic re-renders
                  state.count += state.step;
                });
              }
            });
          <\/script>
        `, 'html'),
        tab1_file5: highlight(`
          <template id="toast-manager">
            <div class="toast-container">
              <button ref="btn">Show Toast</button>
              <!-- Container for dynamically added toasts -->
              <div ref="list"></div>
            </div>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * Demonstrates imperative component creation.
             * Custom elements can be created using standard DOM APIs.
             */
            export default defineComponent({
              client: ({ refs }) => {
                refs('btn').addEventListener('click', () => {
                  // Create a new component instance programmatically
                  const toast = document.createElement('toast-message');
                  toast.setAttribute('message', 'Hello from the Toast Manager!');
                  refs('list').appendChild(toast);
                });
              }
            });
          <\/script>
        `, 'html'),
        tab1_file6: highlight(`
          <template id="toast-message">
            <div class="toast">
              <span>{{ message }}</span>
              <button ref="close">X</button>
            </div>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * A self-contained message component.
             * Uses 'signal' to ensure event listeners are cleaned up
             * if the component is destroyed.
             */
            export default defineComponent({
              attributes: {
                message: { type: String }
              },
              client: ({ signal, refs }) => {
                refs('close').addEventListener('click', (e) => {
                  // Remove the element from the DOM
                  e.target.closest('toast-message').remove();
                }, { signal });
              }
            });
          <\/script>
        `, 'html'),

        tab2_file1: highlight(`
          import { defineConfig } from 'coralite';

          /**
           * SSR is deeply integrated into Coralite.
           * No special flags are needed to enable it.
           */
          export default defineConfig({
            output: 'dist',
            components: 'src/components',
            pages: 'src/pages'
          });
        `, 'javascript'),
        tab2_file2: highlight(`
          <main>
            <!-- Page content rendered on the server -->
            <h1>Server-Side Rendering</h1>

            <!-- Components can fetch data during server rendering -->
            <user-profile user-id="42"></user-profile>

            <hr>

            <!-- External data fetching component -->
            <data-fetcher></data-fetcher>
          </main>
        `, 'html'),
        tab2_file3: highlight(`
          <template id="user-profile">
            <article>
              <h2>{{ username }}</h2>
              <p>{{ bio }}</p>
            </article>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * The 'server' block runs during the build or request.
             * It's perfect for fetching data from a database or local file.
             * The returned object is merged into the component state.
             */
            export default defineComponent({
              attributes: {
                userId: { type: Number }
              },
              server: async ({ state }) => {
                // In a real app, fetch from a DB using the userId
                const data = { name: 'Jane Doe', bio: 'Software Engineer' };
                
                return {
                  username: data.name,
                  bio: data.bio
                };
              }
            });
          <\/script>
        `, 'html'),
        tab2_file4: highlight(`
          <template id="data-fetcher">
            <section>
              <h3>Remote Content</h3>
              <p>{{ message }}</p>
              <small>Fetched at: {{ timestamp }}</small>
            </section>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';
            // Top-level imports in the script block are server-side ONLY.
            // They are automatically stripped from the client bundle.
            import { readFileSync } from 'node:fs';

            export default defineComponent({
              server: async () => {
                // Example of server-only capability: reading from filesystem
                // or performing heavy computations away from the client.
                return {
                  message: 'This data was loaded from the server environment.',
                  timestamp: new Date().toLocaleTimeString()
                };
              }
            });
          <\/script>
        `, 'html'),
        tab2_file5: highlight(`
          <main>
            <h1>Dashboard</h1>
            <p>Welcome to the server-rendered dashboard.</p>
            
            <section>
              <!-- Page-level SSR can orchestrate multiple components -->
              <user-profile user-id="1"></user-profile>
              <data-fetcher></data-fetcher>
            </section>
          </main>
        `, 'html'),

        tab3_file1: highlight(`
          import { defineConfig } from 'coralite';

          /**
           * Metadata and Page Variables are handled by built-in plugins.
           */
          export default defineConfig({
            output: 'dist',
            components: 'src/components',
            pages: 'src/pages'
          });
        `, 'javascript'),
        tab3_file2: highlight(`
          <!DOCTYPE html>
          <html lang="en">
          <head>
            <!-- These standard tags are extracted by the metadata plugin -->
            <title>About Coralite</title>
            <meta name="description" content="A lightweight component framework.">
            <meta name="author" content="Coralite Team">
          </head>
          <body>
            <!-- Components can access page-level metadata -->
            <meta-info></meta-info>
          </body>
          </html>
        `, 'html'),
        tab3_file3: highlight(`
          <template id="meta-info">
            <div>
              <h1>{{ title }}</h1>
              <p>Author: {{ author }}</p>
              <p>Page URL: {{ path }}</p>
            </div>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * The 'data' function provides access to the 'page' object,
             * which contains metadata, URL information, and more.
             */
            export default defineComponent({
              data: ({ page }) => {
                return {
                  title: page.meta.title,
                  author: page.meta.author,
                  path: page.url.pathname
                };
              }
            });
          <\/script>
        `, 'html'),

        tab4_file1: highlight(`
          import { defineConfig } from 'coralite';
          import store from './src/plugins/store.js';

          /**
           * Register plugins in the config to share logic or state
           * across all components in your application.
           */
          export default defineConfig({
            output: 'dist',
            components: 'src/components',
            pages: 'src/pages',
            plugins: [store]
          });
        `, 'javascript'),
        tab4_file2: highlight(`
          import { definePlugin } from 'coralite';

          /**
           * Plugins follow a two-phase initialization.
           * They can provide a 'context' that is injected into
           * both 'server' and 'client' blocks of components.
           */
          export default definePlugin({
            name: 'store',
            client: {
              context: () => {
                let cart = [];
                // Phase 2 factory returns the actual API
                return () => ({
                  getCart: () => cart,
                  addToCart: (item) => {
                    cart.push(item);
                    // Notify other components about the change
                    window.dispatchEvent(new CustomEvent('cart-updated'));
                  }
                });
              }
            }
          });
        `, 'javascript'),
        tab4_file3: highlight(`
          <main>
            <h1>Coral Shop</h1>
            <!-- Shared state consumer -->
            <cart-total></cart-total>
            
            <section>
              <div class="product">
                <h3>Blue Coral</h3>
                <!-- Shared state producer -->
                <cart-button item-name="Blue Coral"></cart-button>
              </div>
              <div class="product">
                <h3>Red Coral</h3>
                <cart-button item-name="Red Coral"></cart-button>
              </div>
            </section>
          </main>
        `, 'html'),
        tab4_file4: highlight(`
          <template id="cart-button">
            <button ref="btn">Buy {{ itemName }}</button>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * This component interacts with the 'store' plugin.
             * The plugin's API is available on the context object.
             */
            export default defineComponent({
              attributes: {
                itemName: { type: String }
              },
              client: ({ store, state, refs }) => {
                refs('btn').addEventListener('click', () => {
                  // Call the plugin's method
                  store.addToCart(state.itemName);
                });
              }
            });
          <\/script>
        `, 'html'),
        tab4_file5: highlight(`
          <template id="cart-total">
            <div class="cart-total">
              Items in cart: {{ count }}
            </div>
          </template>

          <script type="module">
            import { defineComponent } from 'coralite';

            /**
             * Listens for changes in the shared store.
             */
            export default defineComponent({
              client: ({ store, state, signal }) => {
                const update = () => {
                  state.count = store.getCart().length;
                };

                update();
                // Standard browser events can be used for communication
                window.addEventListener('cart-updated', update, { signal });
              }
            });
          <\/script>
        `, 'html')
      }
    }
  })
</script>
