<template id="coralite-post">
  <article class="post">
    <h2><a href="{{ pageUrlPathname }}">{{ pageTitle }}</a></h2>
    <coralite-author name="{{ metaAuthorId }}" date-time="{{ metaPublishedTime }}"></coralite-author>
    <p>{{ metaPageDescription }}</p>
  </article>
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    async data (context) {
      // If this is used inside an aggregation, context.page is the aggregated page
      const page = context.state.page

      return {
        pageUrlPathname: page.url.pathname,
        pageTitle: page.meta.pageTitle || 'Untitled Post',
        metaAuthorId: page.meta.author_id || 'Unknown Author',
        metaPublishedTime: page.meta.published_time || new Date().toISOString(),
        metaPageDescription: page.meta.description || 'No description provided.'
      }
    }
  })
</script>
