<template id="coralite-author">
  <div class="post-author">
    <a href="{{ url }}" target="_blank">
      {{ img }}
      <span>{{ fullName }}</span> -
    </a>
    <time datetime="{{ dateTime }}"> {{ localeDate }}</time>
  </div>
</template>

<script type="module">
import { defineComponent } from 'coralite'

const authors = {
  thomas: {
    url: 'https://thomasjackdavid.com',
    img: {
      avif: '/images/thomas-avatar.avif',
      webp: '/images/thomas-avatar.webp',
      default: '/images/thomas-avatar.png'
    },
    name: 'Thomas David'
  }
}

export default defineComponent({
  attributes: {
    name: {
      type: String,
      default: 'thomas'
    },
    dateTime: { type: String }
  },
  getters: {
    author: (state) => authors[state.name] || null,
    url: (state) => state.author?.url || '',
    fullName: (state) => state.author?.name || 'Unknown',
    img: (state) => {
      const currentAuthor = state.author
      if (!currentAuthor) {
        return '<picture><img class="post-author-img" src="/images/default.png" alt="Unknown Author"></picture>'
      }
      let pictureHtml = '<picture>'
      if (currentAuthor.img.avif) {
        pictureHtml += `<source srcset="${currentAuthor.img.avif}" type="image/avif">`
      }
      pictureHtml += `<img class="post-author-img" src="${currentAuthor.img.default}" alt="Photo of ${currentAuthor.name}">`
      pictureHtml += '</picture>'
      return pictureHtml
    },
    localeDate: (state) => {
      if (!state.dateTime) {
        return ''
      }
      try {
        return new Date(state.dateTime).toLocaleDateString('en-AU', {
          year: '2-digit',
          month: 'short',
          day: 'numeric'
        })
      } catch (e) {
        console.error('Failed to parse date:', e)
        return ''
      }
    }
  }
})
</script>
