<template id="coralite-posts">
  {{ posts }}
</template>

<script type="module">
  import { defineComponent, aggregation } from 'coralite/plugins'

  export default defineComponent({
    async data (context) {
      return {
        posts: await aggregation({
          path: ['blog'],
          template: 'coralite-post',
          sort (a, b) {
            let dateA = 0
            let dateB = 0

            if (a) {
              a.page.meta.published_time
            }

            if (b) {
              dateB = b.page.meta.published_time
            }

            return new Date(dateB) - new Date(dateA)
          },
          limit: 15,
          pagination: {
            maxVisible: 3
          }
        })
      }
    }
  })
</script>
