<template id="coralite-heading">
  {{ headingHtml }}
</template>

<script type="module">
  import { defineComponent } from 'coralite'

  export default defineComponent({
    attributes: {
      text: {
        type: String,
        default: 'Untitled'
      },
      level: {
        type: Number,
        default: 1
      }
    },
    getters: {
      headingId: (state) => state.text
        .toLowerCase()
        .replace(/\s+/g, '-')
        .replace(/[^a-z0-9-]/g, ''),
      headingHtml: (state) => `<h${state.level} id="${state.headingId}">
          ${state.text}
          <a href="#${state.headingId}" class="anchor-link" aria-label="Link to this section: ${state.text}">#</a>
        </h${state.level}>`
    }
  })
</script>
